{
	"presets": [ "@wordpress/default" ],
	"plugins": [
		// [ "@wordpress/babel-plugin-makepot", {
		// 	"output": "languages/media-library-image-gallery.pot"
		// } ],
		"transform-class-properties"
	]
}